
html {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
}



.wrapper {
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(7, 200px);
    grid-template-rows: repeat(7, 200px);
    grid-column-gap: 2px;
    grid-row-gap: 2px;
}
    
.logo-block { 
    grid-area: 1 / 1 / 2 / 2;
}

.nazov-block { 
    grid-area: 1 / 2 / 2 / 5;
    background-color: #FF1717;
 }

.nav { 
    grid-area: 1 / 5 / 2 / 8;  
}

.text1-block { 
    grid-area: 2 / 1 / 4 / 4;
    text-align: left;
    
 }

.text2-block { 
    grid-area: 2 / 5 / 4 / 8;
 }

.text3-block {
    grid-area: 4 / 3 / 7 / 6;  
}

.text4-block {
    grid-area: 4 / 1 / 6 / 3;  
 }

.text5-block { 
    grid-area: 5 / 6 / 8 / 8;
 }

.mapa { grid-area: 6 / 1 / 8 / 3; }
.prevencia1 { grid-area: 7 / 3 / 8 / 4; }
.prevencia2 { grid-area: 7 / 4 / 8 / 5; }
.prevencia3 { grid-area: 7 / 5 / 8 / 6; }
.virus { grid-area: 2 / 4 / 3 / 5; }
.test { grid-area: 3 / 4 / 4 / 5; }
.symptoms { grid-area: 4 / 6 / 5 / 7; }
.symptoms-graphic { grid-area: 4 / 7 / 5 / 8; }

.nazov-block {
    text-align: center;
    font-size: 40px;
}

.logo-block {
    background-image: url('Coronavirus.png');
    background-repeat: no-repeat;
    background-size: 100%; 
}

.nadpis1 {
    text-align: center;
    background-color:  #00ABFF;
}

.obsah1 {
    
    background-color: #E1E1E1;
}

.virus {
    background-image: url('coronavirus-blood.jpg');
    background-repeat: no-repeat;
    background-size: 180%;
}

.test {
    background-image: url('coronavirus-test.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}
 .prevencia1 {
     background-image: url('coronavirus-umyvanie.jpg');
     background-repeat: no-repeat;
     background-size: 100%;
 }
 .prevencia2 {
     background-image: url('coronavirus-kaslanie.jpg');
     background-repeat: no-repeat;
     background-size: 100%;
 }
 .prevencia3 {
    background-image: url('coronavirus-odstup.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}

.symptoms {
    background-image: url('covid-19.png');
    background-repeat: no-repeat;
    background-size: 150%;
}

.symptoms-graphic {
    background-image: url('coronavirus-symptoms-graphic.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}

.mapa {
    background-image: url('coronavirus-map.jfif');
    background-repeat: no-repeat;
    background-size: 135%;
}
.zdroj {
    background-color: #E1E1E1;
    margin-left: 10px;
}

.nav{
    text-align: center;
}



 


